<header>
  <h1>{{title}}</h1>
  <span><h4>Welcome {{user.name}}</h4></span>
</header>

<div class="match-up-card">
  <div class="match-up-card-header">
    Header
  </div>
  <div class="match-up-card-body">
    body
  </div>
</div>

<div class="content-body">
  <team-list [teams]="teams"></team-list>
<!--  <div *ngFor="let matchup of matchups"></div>-->
  <div class="table">
    <h3></h3>
    <table style="width:75%">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>80</td>
      </tr>
    </table>
  </div>
</div>
