
<!--ToDo: create Nfc side bar component-->
<div class="nfc">
  <h1>NFC</h1>
  <div class="north">
    <h2>North</h2>
    <div *ngFor="let team of NFCNorthTeams">{{team.shortName}}</div>
  </div>
  <div class="east">
    <h2>East</h2>
    <div *ngFor="let team of NFCEastTeams">{{team.shortName}}</div>
  </div>
  <div class="west">
    <h2>West</h2>
    <div *ngFor="let team of NFCWestTeams">{{team.shortName}}</div>
  </div>
  <div class="south">
    <h2>South</h2>
    <div *ngFor="let team of NFCSouthTeams">{{team.shortName}}</div>
  </div>
</div>
<div class="matchup-container">
  <span>Create new Match up!</span>
  <button (click)="onCreateNewMatchup()">+</button>
  <form *ngIf="toggle">
    <label> Favorite:
      <input>
    </label>
    <label> Underdog:
      <input>
    </label>
    <label> Spread:
      <input>
    </label>
    <button (click)="onCreateNewMatchup()">Submit</button>
  </form>
</div>
<!--ToDo: create Afc side bar component-->
<div class="afc">
  <h1>AFC</h1>
  <div class="north">
    <h2>North</h2>
    <div *ngFor="let team of AFCNorthTeams">{{team.shortName}}</div>
  </div>
  <div class="east">
    <h2>East</h2>
    <div *ngFor="let team of AFCEastTeams">{{team.shortName}}</div>
  </div>
  <div class="west">
    <h2>West</h2>
    <div *ngFor="let team of AFCWestTeams">{{team.shortName}}</div>
  </div>
  <div class="south">
    <h2>South</h2>
    <div *ngFor="let team of AFCSouthTeams">{{team.shortName}}</div>
  </div>
</div>
